.content-container{
    width: 100%;
    overflow: hidden;
}
.content-middle{
    width: 1000px;
    margin: 0 auto;
}
.content-middle .top-container .top{
    background-color: #f5f6f5;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 48px;
    margin-top: 30px;
}
.content-middle .top-container .top ul li{
    list-style: none;
    height: 48px;
    line-height: 48px;
    float: left;
    padding: 0 22px;
    border-right: 2px white solid;
}
.content-middle .top-container #li2{

    background-color: #dd3915;
}
.content-middle .top-container #li1{
    margin-left: -40px;
}
.content-middle .top-container #li1:hover{
    background-color: #dd3915;
}
.content-middle .top-container #li1:hover a{
    color: white;
}
.content-middle .top-container #li2 a{
    color: white;
}
.cate{
    width: 100%;
    height: 70px;
}
.cate ul{
    line-height: 70px;
    height: 70px;
    float: right;
    margin: 0;
}
.cate ul li{
    line-height: 70px;
    float: left;
    list-style: none;
}
.cate ul a{
    height: 30px;
    line-height: 30px;
    padding: 0.5em 1em;
}
.cate ul a:hover{
    background-color: #dd3915;
    color: white;
}
.cate .li1{
    margin-right: 20px;
}
.show-list,.show-list ul{
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}
.show-list ul li{
    margin-right: 80px;
    margin-bottom: 30px;
    border: 1px silver solid;
    position: relative;
    list-style: none;
    float: left;
    width: 280px;
    height: 484px;
}
.show-list .big-img{
    position: relative;
}
.show-list .big-img img{
    width: 278px;
}
.show-list .big-img .digg,.show-list .big-img .undigg{
    display: block;
    position: absolute;
    width: 104px;
    height: 45px;
    top: 118px;
    left: 88px;
    background-image: url(../images/img/icon.png);
    background-repeat: no-repeat;
    text-indent: -999em;
}
.show-list .big-img .digg{
    background-position: 0 0;
}
.big-img a:hover{
    color: #F8F8F8;
}
.show-list .big-img .digg:hover{
    color: #F8F8F8;
    background-position: 0 -52px;
}
.show-list .big-img .undigg{
    display: none;
    background-position: -120px 0;
}
.show-list .big-img .undigg:hover{
    background-position: -120px -52px;
}
.li-nomargin{
    margin-right: 0!important;
}
.show-list ul li .title a{
    font-size: 16px!important;
    margin-left: 20px;
}
.show-list ul li .say{
    color: #333;
    margin: 10px 20px;
    height: 63px;
    font-size: 12px;
}
.info span,.info i{
    display: block;
    float: left;
    font-size: 12px;
    color: #909090!important;
}
.info .time{
    margin-left: 20px;
}
.show-list ul .user{
    clear: both;
}
.info .support{
    margin-left: 164px;
    margin-right: 24px;
}
.info i{
    width: 12px;
    height: 12px;
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    background-position: -93px -164px;
    padding: 0 9px;
    position: absolute;
    right: 18px;
    bottom: 70px;
}
.show-list .user{
    margin: 0px 20px;
    padding-top: 20px ;
    height: 30px;
    width: 278px;
}
.show-list .user img{
    display: block;
    float: left;
    width: 30px;
    border-radius: 50%;
}
.show-list .user a{
    display: block;
    float: left;
    height: 30px;
    margin: 0 10px;
}
.show-list .user span{
    color: #909090!important;
    font-size: 12px;
}